CustomCollectionsGeneric\CustomCollectionsGeneric.App\bin
CustomCollectionsGeneric\CustomCollectionsGeneric.App\obj
CustomCollectionsGeneric\CustomCollectionsGeneric.Services\bin
CustomCollectionsGeneric\CustomCollectionsGeneric.Services\obj
CustomCollectionsGeneric\CustomCollectionsGeneric.Tests\bin
CustomCollectionsGeneric\CustomCollectionsGeneric.Tests\obj